*{
    margin: 0;
    padding: 0;
    color: white;
}

header{
    background-color: #273036;
}

main{
    background-color: darkgray
}

footer{
    background: #273036;
    margin: 0;
    padding: 0;
}

footer > svg{
    position: absolute;
    bottom: 45px;
}