body{
    color: white;
    background: #000;
}
header{
    background: purple;
}

.header_in{
    display: flex;
    justify-content: space-between;
}

.portfolio{
    display: flex;

    justify-content: space-around;
}

footer{
    background: pink;
}
